.App {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}


.navigation-bar {
  --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%2833, 37, 41, 0.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}


label {
  margin-left: 5%;
  margin-right:1%;
}

.add-button {
  margin-left: 5%;
}

td {
  text-align: left;
}

.amount {
  text-align: end;
}

.dropdown {
  width: 10%;
  height: 2rem;
}

.inputForm {
  width: 20%;
  margin: auto;
  text-align: left;
}

.addInput {
  width: 60%;
  margin-bottom: 2rem;
}

.category {
  margin-left: 7%;
}

.inputDate {
  margin-left: 16%;
}

.amountInput {
  margin-left: 9%;
}

.note {
  margin-left: 16%;
}

.inputButtons {
  justify-content: space-between;
  display: flex;
}

.tableHeader:hover {
  cursor: pointer;
}

.bi-pencil-square {
  margin-left: 25%;
}

.bi {
  cursor: pointer;
}

#hideScreen {
  top:0; left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   background: rgba(50,50,50,0.9);
   
   display: none;
}

.deletePopup {
  width: 25%;
  height: 25%;
  background-color: white;
  margin: auto;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  border-radius: 3%;
}

.deleteText {
  text-align: center;
  margin: auto;
  margin-top: 12%;
}

.buttons {
  display: block;
  margin-top: 10%;
}

.confirmDelete {
  width: 20%;
  margin-left: 2%;
  background-color: green;
}
.confirmDelete:hover {
  background-color: lightgreen;
}

.cancelDelete {
  width: 20%;
  margin-right: 2%;
}

.btn-success {
  margin-right: 6%;
}

.bi {
  border-radius: 30%;
}

.bi:hover {
  background-color: lightgray;
}

.bi-chevron-left {
  margin-right: 1%;
}

.bi-chevron-right {
  margin-left: 1%;
}

.total {
  text-align: end;
  margin-top: 0.5rem;
}